/* align the main elements in the center */
#main {
	margin: 95px auto;
}
#main img, input, p, a{
	display: block;
	margin: 0 auto;
}
#main input {
	margin: 5px auto;
	line-height: 2.8;
	color: white;
}
#main #buttons {
	margin: 20px auto;
	width: 290px;
}
#main #buttons input {
	display: inline-block;
	margin: 5px 2px;
	padding: 0 15px;
	background-color: #f2f2f2;
	color: #757575;
	border: none;
	font-weight: bold;
}
#main .french {
	width: 200px;
	margin: 0 auto;
}
#main .french p, a {
	margin: 20px auto;
	display: inline;
	white-space: nowrap;
	font-size: 13px;
	text-decoration: none;
}
/* Align top navigation bar. */
.topnav {
	display: block;
	position: absolute;
	font-size: 13px;
	top: 15px;
	right: 0px;
	height: 3%;
}
.topnav a {
	color: #47476b;
	display: inline-block;
	position: relative;
	margin: 7px 5px;
	text-decoration: none;
}
/* Create apps link */
.apps {
	position: relative
	background-color: white;
	width: 20px;
	height: 20px;
	margin: 6px 16px;
	float: right;
}
.apps a{
	background-color: #47476b;
	width: 20%;
	height: 20%;
	margin: 1px;
	float: left;
}
.topnav form {
    float:right;
	margin: 0 40px 0 0;
}
.topnav input {
	background-color: #4285f4;
	color: white;
	width: 68px;
	height: 30px;
	border: none;
	font-weight: bold;
	border-radius: 2px;
}
/* format footer */
.footer {
	background-color: #f2f2f2;
	height: 40px;
	width: 100%;
	position: fixed;
	bottom: 0;
}
.footer .left a {
	display: inline-block;
	margin: 17px 4px;
	color: #666;
	float: left;
}
.footer .left a:first-child{
	margin-left: 30px;
}
.footer .right a {
	display: inline-block;
	margin: 17px 15px;
	color: #666;
	float: right;
}