/* align the main elements in the center */
#main {
	/* background-color: #ffc; */
	margin: 90px auto;
}

#main img, input{
	display: block;
	margin: 0 auto;
}

/* Make search box more tall */
#main input {
	margin: 5px auto;
	line-height: 2.8;
}